* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --primaryColor: #FB2E86;
    --primaryFont: "Lato", sans-serif;
    --primaryFontSize: 16px;
}

.whiteC {
    color: #FFF;
}

.d-flex {
    display: flex;
}

.flex-d {
    flex-direction: column;
}

.gab25 {
    gap: 25px;
}

.noStretch {
    align-items: flex-start;
}

.josFont {
    font-family: "Josefin Sans", sans-serif;
}

.muted-blueC {
    color: #8A8FB9;

}
.blackC{
    color: #000;
}
.robotoFont{
font-family: "Roboto", sans-serif;
}

.textcent{
    text-align: center;    
}
.whiteBack{
    background-color: #fff ;
}
.corner-rad3{
    border-radius: 3px;
}
.opacity45{
    opacity: 45%;
}
.fontSize22{
    font-size: 22px;
}
.aligncent{
    align-items: center;
}
.justifycent{
    justify-content: center;
    
}
.gap28{
    gap: 28px;
}
.darkBlueC{
    color: #151875;
}
.bold{
    font-weight: bold;
}
.regular{
    font-weight: 400;
}
.gap5{
    gap: 5px;
}
.gap12{
    gap: 12px;
}
.gap50{
    gap: 50px;
}
.paddingTB12{
padding: 12px 0;
}
.paddingT15{
    padding-top: 15px;
}
.paddingB17{
    padding-bottom: 17px;
}
.paddingT130{
    padding-top: 130px;
}
.paddingB53{
    padding-bottom: 53px;
}
.lightBing-Back{
    background-color: #F2F0FF;
}
.spaceBet{
justify-content: space-between;
}
.paddingB12{
    padding-bottom: 12px;
}
.paddingB35{
    padding-bottom: 35px;
}
.paddingTB35{
    padding: 35px 0;
}
.button{
    border: none;
    outline: none;
   
}
.paddingTB5{
    padding: 5px 0;
}
.paddingL5{
    padding-left: 5px;
}
.margnB{
    margin-bottom: auto;
}
.gap15{
    gap: 15px;
}
.red-pinkC{
    color: #FB2448;
}
.tect-decoL{
    text-decoration-line: line-through ;
}
.gap10{
    gap: 10px;
}
.gap20{
    gap: 20px;
}
.paddingT128{
    padding-top: 128px;
}
.size42{
    font-size: 42px;
}