body {
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: var(--primaryFontSize);
}

/*start header*/
.header {
    padding: 10px 0;
    align-items: center;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {

    margin: auto;


}

.search input {
    border: none;
    outline: none;
    width: 250px;
    padding: 4px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 8px 15px;
}

.search form {
    border: 2px solid #E7E6EF;
    border-radius: 2px;
}

.header .bar {
    width: 40px;
    display: none;
}

.list a {
    color: #0D0E43;
}

.list .active {
    color: var(--primaryColor);
}

@media screen and (max-width:1095px) {

    .list,
    .search {
        display: none;
    }

    .header .bar {
        display: block;
    }
}

/*end header*/
/*start main*/
/*start newslater*/
.newslater{
    background-image: url(img/newslater.webp);
    height: 462px;
    width: auto;
    margin-top: 125px;
    margin-bottom: 95px;
}
.newslater .news {
  padding: 175px 0 103px 0;
    
}
.news h2{
    font-weight: bold;  
}
.news button{
    padding: 16px 34px;
    border-radius: 2px;
}
/*end newslater*/

/*start client*/

.clients .row .logos {
    overflow-x: auto;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 95px;
}
/*end client*/




/*end main*/
/*start footer*/


.footer {
    background-color: #EEEFFB;
    padding: 92px 0;
}

.spaces {
    gap: 21px;
    padding-top: 41px;
    padding-right: 100px;

}

.muted-blueC a {
    color: #8A8FB9;
}

.email input {
    border: none;
    outline: none;
    padding: 10px 80px 10px 20px;
    border-radius: 3px;
}

.email button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 10px 20px;
    border-radius: 3px;
}

.email form {
    border: none;
}

/*end footer*/