body {
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: var(--primaryFontSize);
}

/*start header*/
.header {
    padding-top: 47px;
    padding-bottom: 35px;
    align-items: center;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {

    margin: auto;


}

.search input {
    border: none;
    outline: none;
    width: 250px;
    padding: 4px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 8px 15px;
}

.search form {
    border: 2px solid #E7E6EF;
    border-radius: 2px;
}

.header .bar {
    width: 40px;
    display: none;
}

.list a {
    color: #0D0E43;
}

.list .active {
    color: var(--primaryColor);
}

@media screen and (max-width:1095px) {

    .list,
    .search {
        display: none;
    }

    .header .bar {
        display: block;
    }
}

/*end header*/
/*start main*/
/*start hero*/

/*end hero*/
/*start product*/

.color-option .option1 {
    background-color: #05E6B7;
    width: 14px;
    height: 4px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.color-option .option2 {
    background-color: #F701A8;
    width: 14px;
    height: 4px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.color-option .option3 {
    background-color: #00009D;
    width: 14px;
    height: 4px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.products {
    box-shadow: 0px 4px 4px #00000040;
}

.products .img1 {
    background-color: #F6F7FB;
    width: 270px;
    height: 236px;
    background-image: url(../assets/img/product/chair1.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.products .img2 {
    background-color: #F6F7FB;
    width: 270px;
    height: 236px;
    background-image: url(../assets/img/product/chair2.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.products .img3 {
    background-color: #F6F7FB;
    width: 270px;
    height: 236px;
    background-image: url(../assets/img/product/chair3.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.products .img4 {
    background-color: #F6F7FB;
    width: 270px;
    height: 236px;
    background-image: url(../assets/img/product/chair4.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.products .viewDet {
    text-align: center;
    position: relative;
    top: 170px;
    display: none;
}

.products .viewDet button {
    border: none;
    outline: none;
}

.products .icons {
    display: none;
}

.products:hover .viewDet {
    display: block;
}

.products:hover .icons {
    display: block;
}

.featured {
    text-align: center;
    color: #1A0B5B;
}

.products:hover {
    background-color: #2F1AC4;
}

.products:hover .prod-details {
    color: #FFF;
}

.products:hover .option3 {
    background-color: #FFEAC1;
}

.products:hover .prod-info {
    color: #FFF;
}

/*end product*/
/*start Leatest Products section*/
.leatest-prod .photo-prod1 {
    width: 360px;
    height: 270px;
    background-color: #F7F7F7;
    background-image: url(../assets/img/LeatestProducts/chair1.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-top: 20px;
    gap: 75px;
}

.leatest-prod .photo-prod2 {
    width: 360px;
    height: 270px;
    background-color: #F7F7F7;
    background-image: url(../assets/img/LeatestProducts/chair2.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-top: 20px;
    gap: 75px;
}

.leatest-prod .photo-prod3 {
    width: 360px;
    height: 270px;
    background-color: #F7F7F7;
    background-image: url(../assets/img/LeatestProducts/chair3.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-top: 20px;
    gap: 75px;
}

.leatest-prod .photo-prod4 {
    width: 360px;
    height: 270px;
    background-color: #F7F7F7;
    background-image: url(../assets/img/LeatestProducts/chair4.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-top: 20px;
    gap: 75px;
}

.leatest-prod .photo-prod5 {
    width: 360px;
    height: 270px;
    background-color: #F7F7F7;
    background-image: url(../assets/img/LeatestProducts/chair5.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-top: 20px;
    gap: 75px;
}

.leatest-prod .photo-prod6 {
    width: 360px;
    height: 270px;
    background-color: #F7F7F7;
    background-image: url(../assets/img/LeatestProducts/chair6.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-top: 20px;
    gap: 75px;
}

.leatest-prod .sale,
.licons {
    display: none;
}

.leatest-prod .sale img {
    width: 84px;
    height: 56px;
}

.lproducts:hover .photo-prod {
    background-color: #FFF;
}

.lproducts:hover .sale {
    display: block;
}

.lproducts:hover .licons {
    display: flex;
    flex-direction: column;
}

.lproduct {
    flex-wrap: wrap;
}

.lproducts {
    padding-bottom: 120px;

}

.letest-list li:hover {
    color: #F701A8;
    text-decoration-line: underline;
}

/*end Leatest Products section*/
/* start shopex section*/

.offer{
width: 270px;
height: 320px;
background-color: #FFF;
box-shadow: 0px 0px 30px #00000010;
}

/* end shopex section*/
/*start Trending Products section*/

.tprods{
    width: 270px;
height: 350px;
background-color: #FFF;
box-shadow: 0px 0px 30px #00000010;
}
.timg{
width: 247px;
height: 244px;
background-color: #F5F6F8;
margin: auto;
}
/*end Trending Products section*/
/*start newslater*/
.newslater {
    background-image: url(img/newslater.webp);
    height: 462px;
    width: auto;
    margin-top: 125px;
    margin-bottom: 95px;
}

.newslater .news {
    padding: 175px 0 103px 0;

}

.news h2 {
    font-weight: bold;
}

.news button {
    padding: 16px 34px;
    border-radius: 2px;
}

/*end newslater*/

/*start client*/

.clients .row .logos {
    overflow-x: auto;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 95px;
}

/*end client*/




/*end main*/
/*start footer*/


.footer {
    background-color: #EEEFFB;
    padding: 92px 0;
}

.spaces {
    gap: 21px;
    padding-top: 41px;
    padding-right: 100px;

}

.muted-blueC a {
    color: #8A8FB9;
}

.email input {
    border: none;
    outline: none;
    padding: 10px 80px 10px 20px;
    border-radius: 3px;
}

.email button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 10px 20px;
    border-radius: 3px;
}

.email form {
    border: none;
}

/*end footer*/